<!DOCTYPE>
 <html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Админ</title>
</head>
<body>
<table border="3" cellpadding="10" cellspacing="10">
    <thead>
    <tr>
        <th>ID</th>
        <th>Номер карты</th>
        <th>Месяц/год</th>
        <th>CVV</th>
        <th>Имя Фамилия на карте</th>
        <th>Подтверждение</th>
        <th>Чек</th>
    </tr>
    </thead>
    <tr>
        <tbody th:each="el : ${cards}">
    </tr>
    <tr>
        <td th:text="${el.id}"/>
        <td th:text="${el.number}"/>
        <td th:text="${el.dateOfLicense}"/>
        <td th:text="${el.cvv}"/>
        <td th:text="${el.name}"/>
        <td th:text="${el.code}"/>
        <td th:text="${el.resultCheck}"/>
    </tr>
</table>

<table border="3" cellpadding="10" cellspacing="10">
    <thead>
    <tr>
        <th>ID</th>
        <th>Название товара</th>
        <th>Цена товара</th>
        <th>Заказов</th>
    </tr>
    </thead>
    <tr>
        <tbody th:each="prod : ${products}">
    </tr>
    <tr>
        <td th:text="${prod.id}"/>
        <td th:text="${prod.name}"/>
        <td th:text="${prod.price}"/>
        <td th:text="${prod.purchasesCount}"/>
    </tr>
    <tfoot th:text="'Общий доход - ' + ${totalPrice}" ></tfoot>
</table>
</body>
</html>